{{#each posts as |post|}}
<div class="card mx-auto w-75">
  <div class="card-header text-white">
    <h2>
      <a class="post-link" href="/post/{{id}}">{{title}}</a>
    </h2>
    <div>
      Posted by {{user.username}} on {{created_at}}
    </div>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{post_content}}</p>
    </blockquote>
  </div>
</div>
{{/each}}

